* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #e1e1e1;
  }
  
  header {
    height: 76px;
    background: #4a90e2;
  }
  
  header ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  
  header ul li {
    display: inline-block;
    width: 160px;
    height: 76px;
    margin-right: 70px;
    color: #00408b;
    font-size: 24px;
    line-height: 76px;
    text-align: center;
  }
  
  header ul :last-child {
    margin-right: 0;
  }
  
  header ul li.active,
  header ul li:hover {
    color: #fff;
    border-bottom: 5px solid #00408b;
  }
  
  .wapper {
    width: 620px;
    margin: 0 auto;
  } 
  
  .here {
    width: 620px;
    margin-top: 20px;
    text-align: left;
    background: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
  }
  
  .heretext {
    background: #f2f2f2;
    border: none;
    font-size: 24px;
    width: 248px;
    height: 28px;
  }
  
  .one {
    width: 620px;
    background: #f2f2f2;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px 60px;
    margin-bottom: 0;
  }
  
  input[type="date"] {
    width: 162px;
    height: 35px;
  }
  
  .onetext {
    width: 162px;
    height: 35px;
  }
  
  textarea {
    width: 413px;
    height: 104px;
  }
  
  .form-container {
    width: 620px;
    height: 60px;
    margin: 0 auto;
  }
  
  .form-container:hover {
    background: #4a90e2;
  }
  
  .left {
    background-color: transparent;
    border-color: transparent;
    width: 310px;
    height: 60px;
    color: red;
    font-size: 24px;
    background: #fff;
  }
  
  .left:hover {
    background: #4a90e2;
    color: #fff;
  }
  .right {
    background: transparent;
    border-color: transparent;
    width: 310px;
    height: 60px;
    color: #ffffff;
    background-color: #4a90e2;
    font-size: 24px;
  }
  
  .time {
    font-size: 16px;
    color: #757575;
  }
  
  .ex1 {
    background: #fff2dc;
    width: 620px;
    height: 102px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding: 20px 20px;
  }
  
  .ex2 {
    background: #fff2dc;
    width: 620px;
    height: 102px;
    margin: 10px auto;
    font-size: 24px;
    padding: 20px 20px;
  }
  
  .ex3 {
    background: #f2f2f2;
    width: 620px;
    height: 102px;
    margin: 10px auto;
    font-size: 24px;
    padding: 20px 20px;
  }
  
  .ex4 {
    background: #f2f2f2;
    width: 620px;
    height: 102px;
    margin: 10px auto;
    font-size: 24px;
    padding: 20px 20px;
  }
  
  .ex5 {
    background: #f2f2f2;
    width: 620px;
    height: 76px;
    margin: 10px auto;
    font-size: 24px;
    padding: 20px 20px;
  }